/*
CSS root variables media
*/
@media screen and (max-width: 1199px) {
  :root {
    --bdrs: 3px;
    --sm: 5px;
    --md: 12px;
    --lg: 20px;
    --xl: 35px;
    --header-height: 99px; } }
@media screen and (min-width: 1200px) {
  :root {
    --bdrs: 5px;
    --sm: 8px;
    --md: 15px;
    --lg: 30px;
    --xl: 55px; } }
@media screen and (max-width: 767px) {
  :root {
    --header-height: 48px; } }
@media screen and (min-width: 768px) {
  :root {
    --header-height: 59px; } }
@media screen and (min-width: 1200px) {
  :root {
    --header-height: 96px; } }
@media screen and (max-width: 991px) {
  :root {
    --font-size-base: 16px; } }
@media screen and (min-width: 992px) {
  :root {
    --font-size-base: 20px; } }
/*
General Landing styles
*/
.section {
  margin-left: auto;
  margin-right: auto;
  transition: all 0.15s cubic-bezier(0.25, 0.45, 0.45, 0.95); }
  .section .section:not(.section_top) {
    line-height: 1.2;
    padding: 8vh 0; }
  .section ul li {
    box-sizing: border-box;
    list-style: none; }

.section__title {
  transition: all 0.3s cubic-bezier(0.25, 0.45, 0.45, 0.95); }
  .section__title:not(.section__title_page) {
    line-height: 1; }
    @media screen and (max-width: 575px) {
      .section__title:not(.section__title_page) {
        font-size: 1.875rem;
        margin-bottom: 25px; } }
    @media screen and (min-width: 576px) {
      .section__title:not(.section__title_page) {
        font-size: 2.25rem;
        margin-bottom: 25px; } }
    @media screen and (max-width: 767px) {
      .section__title:not(.section__title_page) {
        padding-right: 3vw; } }
    @media screen and (min-width: 768px) {
      .section__title:not(.section__title_page) {
        font-size: 2.75rem;
        margin-bottom: 4vh; } }
    @media screen and (min-width: 992px) {
      .section__title:not(.section__title_page) {
        font-size: 3.5rem;
        margin-bottom: 5.5vh; } }
    @media screen and (min-width: 1200px) {
      .section__title:not(.section__title_page) {
        font-size: 4.5rem;
        margin-bottom: 5.5vh; } }
  .section__title.section__title_page {
    line-height: 1.18; }
    @media screen and (max-width: 767px) {
      .section__title.section__title_page {
        font-size: 2.5rem; } }
    @media screen and (min-width: 768px) {
      .section__title.section__title_page {
        max-width: 10em; } }
    @media screen and (min-width: 768px) and (max-width: 1399px) {
      .section__title.section__title_page {
        font-size: calc(0.05 * 100vw + 10px); } }
    @media screen and (min-width: 1400px) {
      .section__title.section__title_page {
        font-size: 4.8rem; } }

.section__slogan {
  display: block;
  line-height: 1.5;
  margin: 0; }
  @media screen and (max-width: 767px) {
    .section__slogan {
      padding: 2vh 3vw 0 0; } }
  @media screen and (min-width: 768px) {
    .section__slogan {
      max-width: 22em;
      padding: 4.5vh 0 0; } }
  @media only screen and (min-width: 940px) {
    .section__slogan {
      max-width: 24em; } }
  @media screen and (min-width: 992px) {
    .section__slogan {
      font-size: 0.85rem; } }
  @media screen and (min-width: 1200px) {
    .section__slogan {
      font-size: 1rem; } }
  @media screen and (min-width: 1400px) {
    .section__slogan {
      font-size: 1.2rem;
      line-height: 38px;
      max-width: 28em; } }
  @media screen and (min-width: 1700px) {
    .section__slogan {
      max-width: 36em; } }

/* Top section */
@media screen and (min-width: 768px) {
  .section_top {
    margin-bottom: 68px; } }
.section_top:before {
  content: '';
  width: 0;
  height: 0;
  position: absolute;
  top: 0;
  right: 0;
  transition: all 0.3s cubic-bezier(0.25, 0.45, 0.45, 0.95); }
  @media screen and (max-width: 991px) {
    .section_top:before {
      border-top: 20rem solid #29a2ff;
      border-left: 18rem solid transparent; } }
  @media screen and (max-width: 767px) {
    .section_top:before {
      border-left: 40vw solid transparent; } }
  @media screen and (min-width: 992px) {
    .section_top:before {
      border-top: 20rem solid #29a2ff;
      border-left: 20rem solid transparent; } }
  @media screen and (min-width: 1400px) {
    .section_top:before {
      border-top: 25rem solid #29a2ff;
      border-left: 25rem solid transparent; } }
  @media screen and (min-width: 1700px) {
    .section_top:before {
      border-top: 30rem solid #29a2ff;
      border-left: 30rem solid transparent; } }
.section_top .container {
  position: relative; }
  @media screen and (min-width: 768px) {
    .section_top .container {
      border-right: 1px solid #e1dfdf; } }
  @media screen and (min-width: 1024px) {
    .section_top .container:before {
      content: '';
      background-color: #e1dfdf;
      height: 100%;
      width: 1px;
      position: absolute;
      top: 0;
      left: calc(75% - 1px);
      bottom: 0;
      transition: all 0.15s cubic-bezier(0.25, 0.45, 0.45, 0.95); } }
.section_top .section__img-outer {
  position: relative; }
  .section_top .section__img-outer:before, .section_top .section__img-outer:after {
    content: '';
    display: block;
    height: 100%;
    position: absolute;
    top: 0;
    bottom: 0;
    z-index: -1;
    transition: all 0.15s cubic-bezier(0.25, 0.45, 0.45, 0.95); }
  @media screen and (max-width: 767px) {
    .section_top .section__img-outer:before {
      background-color: #e1dfdf;
      left: 50%;
      width: 1px; }
    .section_top .section__img-outer:after {
      border-right: 1px solid #e1dfdf;
      width: 100%; } }
  @media screen and (max-width: 767px) and (max-width: 767px) {
    .section_top .section__img-outer:after {
      left: 0;
      right: 0;
      margin: auto;
      max-width: calc(80% - 51px); } }
  @media only screen and (max-width: 767px) and (max-width: 575px) {
    .section_top .section__img-outer:after {
      max-width: calc(90% - 51px); } }
  @media only screen and (max-width: 767px) and (max-width: 399px) {
    .section_top .section__img-outer:after {
      max-width: calc(100% - 33px); } }
  @media only screen and (max-width: 767px) and (max-width: 299px) {
    .section_top .section__img-outer:after {
      max-width: calc(100% - 17px); } }

  @media screen and (min-width: 768px) {
    .section_top .section__img-outer:after {
      max-width: calc(100% - 12vw); } }
@media screen and (max-width: 767px) {
  .section_top .section__img {
    max-width: 100%;
    position: relative;
    z-index: 1;
    display: block; } }
@media screen and (min-width: 768px) {
  .section_top .section__img {
    max-width: 60%;
    position: absolute;
    right: 0;
    bottom: 0;
    z-index: 1;
    transition: all 0.3s cubic-bezier(0.25, 0.45, 0.45, 0.95); } }
@media screen and (min-width: 1400px) {
  .section_top .section__img {
    max-width: 50%; } }
@media screen and (max-width: 767px) {
  .section_top .btn-outer .btn {
    margin-top: 20px; } }
@media screen and (min-width: 375px) {
  .section_top .btn-outer .btn {
    min-width: auto; } }
@media screen and (min-width: 768px) {
  .section_top .btn-outer {
    border-top: 1px solid #e1dfdf;
    bottom: -68px;
    display: flex;
    position: absolute;
    width: 100%; } }
  @media screen and (min-width: 768px) and (max-width: 1023px) {
    .section_top .btn-outer .btn {
      min-width: auto;
      width: 33%; } }
  @media screen and (min-width: 768px) and (min-width: 1024px) {
    .section_top .btn-outer .btn {
      width: 25%; } }
@media screen and (min-width: 768px) {
    .section_top .btn-outer .btn_empty {
      border: 0 none; } }

.section__content-left {
  position: relative; }
  .section__content-left:before, .section__content-left:after {
    content: '';
    background-color: #e1dfdf;
    display: block;
    height: 100%;
    width: 1px;
    position: absolute;
    top: 0;
    bottom: 0;
    z-index: -1; }
  @media screen and (max-width: 767px) {
    .section__content-left {
      border-right: 1px solid #e1dfdf;
      padding: 3vh 0 0; }
      .section__content-left:before {
        left: 50%; }
      .section__content-left:after {
        display: none; } }
  @media screen and (min-width: 768px) {
    .section__content-left {
      padding: 7vh 0; }
      .section__content-left:before {
        left: 33%; }
      .section__content-left:after {
        left: 66%; } }
  @media screen and (min-width: 1024px) {
    .section__content-left:before {
      left: 25%; }
    .section__content-left:after {
      left: 50%; } }

/* Top section */
@media screen and (max-width: 1399px) {
  .section__title br {
    display: none; } }

/* Services section */
.section_services {
  display: none;
  /* Card box */ }
  .section_services .container {
    overflow: hidden; }
  .section_services .card_outer {
    display: grid;
    grid-template-columns: repeat(1, minmax(0, 1fr));
    border-top: 1px solid #e1dfdf; }
    @media screen and (min-width: 768px) {
      .section_services .card_outer {
        grid-template-columns: repeat(2, minmax(0, 1fr)); } }
    @media screen and (min-width: 1024px) {
      .section_services .card_outer {
        grid-template-columns: repeat(3, minmax(0, 1fr)); } }
  .section_services .card {
    border-bottom: 1px solid #e1dfdf;
    border-left: 1px solid #e1dfdf;
    grid-column: span 1 / span 1;
    display: flex;
    flex-direction: column;
    opacity: 1;
    transition: all 0.3s cubic-bezier(0.25, 0.45, 0.45, 0.95); }
    @media screen and (max-width: 575px) {
      .section_services .card {
        padding: 4vh 20px 0; } }
    @media screen and (min-width: 576px) {
      .section_services .card {
        padding: 5vh 5vw 1vh 4vw; } }
    .section_services .card:hover {
      background-color: #151731;
      color: #fff; }
      .section_services .card:hover .card_title a {
        color: #ff971d; }
        .section_services .card:hover .card_title a:hover {
          color: #fff; }
      .section_services .card:hover .card_more {
        color: #ff971d; }
        .section_services .card:hover .card_more span {
          background-image: url("data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMjAiIGhlaWdodD0iMTIiIGZpbGw9Im5vbmUiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PHBhdGggZD0iTTEyLjc0NCAxLjU5QS44MzMuODMzIDAgMCAxIDEzLjkyMy40MWw1IDVhLjgzMy44MzMgMCAwIDEgMCAxLjE4bC01IDVhLjgzMy44MzMgMCAwIDEtMS4xNzktMS4xOGwzLjU3OC0zLjU3N0gxLjY3NkEuODM4LjgzOCAwIDAgMSAuODMzIDZjMC0uNDYuMzc3LS44MzQuODQzLS44MzRoMTQuNjQ2TDEyLjc0NCAxLjU5WiIgZmlsbD0iI2ZmOTcxZCIvPjwvc3ZnPg=="); }
  .section_services .card_title {
    font-size: calc( (100vw - 480px)/(1280 - 480) * (24 - 16) + 16px); }
    @media screen and (max-width: 575px) {
      .section_services .card_title {
        font-size: 1.25rem; } }
    @media screen and (min-width: 576px) {
      .section_services .card_title {
        font-size: 1.5rem; } }
    @media screen and (min-width: 1024px) {
      .section_services .card_title {
        font-size: 2rem; } }
    .section_services .card_title a {
      color: #000; }
  .section_services .card_txt {
    line-height: 1.75; }
    @media screen and (min-width: 1024px) {
      .section_services .card_txt {
        font-size: 1.25rem; } }
  .section_services .card_footer {
    display: flex;
    align-items: flex-start;
    justify-content: flex-end;
    line-height: 1.25rem;
    margin-top: auto;
    min-height: 58px; }
  .section_services .card_more {
    color: #151731;
    display: flex;
    align-items: center;
    font-weight: 700;
    line-height: 20px;
    padding: 5px;
    position: relative;
    text-transform: uppercase; }
    .section_services .card_more span {
      background: url("../img/i-arrow-min.svg") no-repeat;
      background-size: 100%;
      width: 23px;
      height: 14px;
      display: inline-block;
      margin-left: var(--md);
      transition: all 0.15s cubic-bezier(0.25, 0.45, 0.45, 0.95); }
    .section_services .card_more:hover span {
      transform: translateX(5px); }

/* Industries section */
.section_industries {
  display: none; }
  .section_industries .container {
    overflow: hidden; }

/* Reviews section */
.section_reviews {
  border-top: 1px solid #e1dfdf;
  display: none; }

/* Form section */
.section_form {
  border-top: 1px solid #e1dfdf;
  display: none; }
